.forgot_password {
  height: 90vh;
  width: 98vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.forgot_password__container {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #f2f2f2;
  border-radius: 0.4rem;
  padding: 30px;
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.1) border: 1px solid rgba(99, 99, 99, 0.1)
}

.forgot_password div {
  margin-top: 7px;
}
