body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input,
textarea {
  background: #fff;
}

/* Navigation */
.navigation {
  background: #f4f5f6;
  border-bottom: .1rem solid #d1d1d1;
  height: 5.1rem;
  width: 100%;
  max-width: 100%;
}

.navigation .navigation-link,
.navigation .navigation-title {
  display: inline;
  font-size: 1.6rem;
  line-height: 5.1rem;
  text-decoration: none;
  padding: 1.6rem;
  text-shadow: 1px 1px 1px #fff;
}

.navigation .navigation-list {
  list-style: none;
  float: right;
  margin: -.2rem;
}

.navigation li.navigation-item {
  float: left;
  margin-bottom: 0;
  position: relative;
}

.navigation li.navigation-item.user {
  padding: 1.3rem;
  border-right: .1rem solid #d1d1d1;
}

/* Anchors */
a {
  color: #606c76;
  text-decoration: dotted;
  border-bottom: 1px dotted #606c76;
}

a:hover {
  color: #111;
  border-bottom: 1px dotted #111;
  background: rgba(0, 0, 0, 0.02)
}

a.navigation-link {
  border: none;
}

a.navigation-link:hover,
a.navigation-link.active {
  color: #9b4dca;
  border-bottom: 2px solid #9b4dca;
  /* color: #fff; */
  padding: 1.6rem;
}

a.navigation-link:hover {
  background: #ebebeb;
}

a.item-view-link,
a.item-view-link:visited {
  background: #9b4dca;
  color: #fff;
  padding: 10px 20px;
}

a.item-view-link:hover {
  background: #9a4dcaa4;
}

/* Items */
.item {
  border: .1rem solid #d1d1d1;
  padding: 3rem 3rem 1rem 3rem;
  border-radius: 1rem;
  margin-bottom: 4rem;
}

.item .item-thumbnail {
  border-radius: .6rem;
  max-width: 175px;
  border: .5rem solid #d1d1d1;
}

.item .item-thumbnail:hover {
  border: .5rem solid #9b4dca;
}

.item .item-gallery {
  border-radius: .6rem;
  max-width: 250px;
  display: inline;
  margin: 0 20px 20px 0;
}

.sign-in,
.sign-up {
  background: #f4f5f6;
  border-radius: 1rem;
  padding: 3rem !important;
  border: .1rem solid #d1d1d1;
}

/* Input, Button */
input,
textarea,
button {
  border-radius: .6rem !important;
}

button,
input[type=submit] {
  border: none;
  background: #f9f9f9;
  color: #555;
  font-size: 1.3rem;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  border: 1px solid rgba(99, 99, 99, 0.3);
}

button:hover,
button:focus,
input[type=submit]:hover {
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 12px 20px rgba(103, 103, 103, 0.4);
  color: #222;
  transform: translateY(-5px);
  border: 1px solid rgba(99, 99, 99, 0.3);
}

input::placeholder {
  color: rgb(171, 171, 171);
}

input[type='text'],
input[type='text']:focus,
input[type='email'],
input[type='email']:focus,
input[type='password'],
input[type='password']:focus,
textarea {
  font-size: 1.4rem;
  border: none;
  background: #fff !important;
  box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  outline: none;
  border: 1px solid rgba(99, 99, 99, 0.3);
}


input:focus {
  box-shadow: 0px 12px 20px rgba(103, 103, 103, 0.4);
  color: #222;

  transform: translateY(-5px);
}

/* Text */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  text-shadow: 1px 1px 1px #fff;
}

/* Full Page Loader */
#loader-container {
  background: #999;
  opacity: 0.5;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

#loader {
  animation: spin 2s linear infinite;
  border-radius: 50%;
  border-radius: 47%;
  border: 40px solid #e6e6e6;
  border-top: 40px solid #9b4dca;
  height: 200px;
  left: 45%;
  position: relative;
  top: 50%;
  width: 200px;
}

/* Single Loader */
.loader {
  animation: spin 2s linear infinite;
  border-radius: 50%;
  border-top: 4px solid #9b4dca;
  border: 4px solid #e6e6e6;
  height: 60px;
  width: 60px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(1080deg);
  }
}

/* Social Login */
.fa-brands {
  font-style: normal;
  font-size: 1.7rem;
}
