.register {
  height: 90vh;
  width: 98vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.register__container {
  display: flex;
  flex-direction: column;
  text-align: center;
  background: rgb(232, 232, 232);
  background: linear-gradient(0deg, rgba(232, 232, 232, 1) 0%, rgba(247, 247, 247, 1) 100%);
  border-radius: 0.8rem;
  padding: 30px;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
  border: 1px solid rgba(99, 99, 99, 0.1);
}

.register__google,
.register__google:focus,
.register__google:hover {
  background-color: #DF4A2F;
  color: #fff;
}

.register__github,
.register__github:focus,
.register__github:hover {
  background-color: #111;
  color: #fff;
}

.register div {
  margin-top: 7px;
}
