:root {
  --nav-anchor-color: #606c76;
  --anchor-color-hover: #111;
  --anchor-color: #6175e6;
}

body {
  background: #F2F6FF;
  margin: 0;
  font-family: 'Oxygen', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Navigation */
nav.navigation {
  background: linear-gradient(0deg, #F2F6FD 0%, #fff 100%);
  border-bottom: .1rem solid #d1d1d1;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  height: 5.1rem;
  margin-bottom: 5rem;
  max-width: 100%;
  width: 100%;
}

nav.navigation a.navigation-link,
nav.navigation span.navigation-title {
  display: inline;
  font-size: 1.6rem;
  line-height: 5.1rem;
  text-decoration: none;
  padding: 1.9rem;
}

nav.navigation ul.navigation-list {
  list-style: none;
  float: right;
  margin: -.2rem;
}

nav.navigation li.navigation-item {
  float: left;
  margin-bottom: 0;
  position: relative;
}

a.navigation-link {
  border: none;
  color: var(--nav-anchor-color);
  transition: all 0.3s ease 0s;
  border-bottom: 2px solid transparent;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.3rem !important;
  letter-spacing: .1rem;
}

a.navigation-link:hover,
a.navigation-link.active {
  text-shadow: 1px 1px 1px #fff;
  /* color: #fff; */
  background: rgba(70, 84, 161, 0.05);
}

a.navigation-link:hover {
  background: rgba(70, 84, 161, 0.1);
  border: none;
}

button.login {
  width: 100%;
}

button.login:hover {
  transform: translateY(-2px);
  box-shadow: rgb(255 255 255 / 20%) 0px 0px 0px 0.5px inset, rgb(23 0 102 / 30%) 0px 40px 80px, rgb(0 0 0 / 30%) 0px 10px 30px;
}

/* Breadcrumbs */
div.breadcrumbs {
  font-size: 1.3rem;
}

/* Anchors */
a {
  font-weight: bold;
  color: var(--anchor-color);
  text-decoration: dotted;
  border-bottom: 1px dotted var(--anchor-color);
}

a:hover {
  color: var(--anchor-color-hover);
  border-bottom: 1px dotted var(--anchor-color-hover);
  background: rgba(0, 0, 0, 0.02)
}


/* Input, Button */
input,
textarea {
  background: #fff;
}

input,
textarea,
button {
  border-radius: .6rem !important;
}

button,
input[type=submit] {
  color: #606C77;
  border: none;
  font-size: 1.3rem;
  outline: none;
  background: linear-gradient(rgb(255, 255, 255) 0%, rgb(217, 223, 255) 100%);
  box-shadow: rgb(255 255 255 / 20%) 0px 0px 0px 0.5px inset, rgb(23 0 102 / 20%) 0px 20px 40px, rgb(0 0 0 / 10%) 0px 1px 3px;
  border-radius: 20px;
  transition: all 0.8s cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
}

button:hover,
button:focus,
input[type=submit]:hover {
  color: #474f58;
  background-color: rgb(255, 255, 255);
  transform: translateY(-2px);
  box-shadow: rgb(255 255 255 / 20%) 0px 0px 0px 0.5px inset, rgb(23 0 102 / 30%) 0px 40px 80px, rgb(0 0 0 / 30%) 0px 10px 30px;
}

button:hover:disabled,
button:hover[disabled] {
  background: #f9f9f9;
  border: 1px solid rgba(99, 99, 99, 0.3);
  outline: none;
  color: #555;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transform: none;
}

/* Lists */
ul {
  margin: 2rem 0 2rem 0;
}

ul li {
  list-style-type: none;
  margin-bottom: 0;
}

ul li ul,
ul li ul li ul {
  margin: 0 0 0rem 3rem;
}

/* Notifications */
div.error,
div.info,
div.warning,
div.success {
  border-radius: 5px;
  font-size: 1.3rem;
  margin-bottom: 1rem;
  padding: 8px 12px;
}

div.error {
  background: rgb(255, 240, 240);
  border: 1px solid hsl(0, 100%, 90%);
  color: rgb(142, 39, 49);
}

div.success {
  background: rgb(242, 255, 240);
  border: 1px solid hsl(113, 50%, 78%);
  color: rgb(29, 108, 31);
}

div.warning {
  background: rgb(255, 253, 240);
  border: 1px solid hsl(47, 50%, 78%);
  color: rgb(108, 88, 29);
}

div.info {
  background: rgb(240, 243, 255);
  border: 1px solid hsl(223, 50%, 78%);
  color: rgb(29, 62, 108);
}

/** Container Colors */
div.blue {
  background: linear-gradient(209.21deg, rgb(29, 145, 252) 13.57%, rgb(90, 54, 192) 98.38%);
}

div.red {
  background: linear-gradient(209.21deg, rgb(255, 114, 98) 13.57%, rgb(153, 40, 52) 98.38%);
}

div.purple {
  background: linear-gradient(209.21deg, rgb(136, 0, 148) 13.57%, rgb(81, 77, 255) 98.38%);
}

div.green {
  background: linear-gradient(209.21deg, rgb(101, 187, 118) 13.57%, rgb(70, 111, 171) 98.38%);
}

input::placeholder {
  color: rgb(171, 171, 171);
}

input[type='text'],
input[type='text']:focus,
input[type='email'],
input[type='email']:focus,
input[type='password'],
input[type='password']:focus,
textarea {
  background: #fff !important;
  border: 1px solid rgba(99, 99, 99, 0.2) !important;
  border: none;
  box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.1);
  font-size: 1.4rem;
  outline: none;
  transition: all 0.8s cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
}


input:focus {
  color: #222;
  transform: translateY(-2px);
}

/* Text */
p {
  margin-bottom: 2rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  text-shadow: 1px 1px 1px #fff;
}

/* Center Container */
div.center-container {
  width: 98vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

div.center-container div.inner {
  display: flex;
  flex-direction: column;
  text-align: center;
  background: #F2F6FD;
  background: linear-gradient(0deg, #F2F6FD 0%, #fff 100%);
  border-radius: 0.8rem;
  padding: 30px;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
  border: 1px solid rgba(99, 99, 99, 0.1);
}

div.center-container div {
  margin-top: 7px;
}

/* Social Auth */
button.google,
button.google:focus,
button.google:hover {
  color: #fff;
  background: linear-gradient(#fa684e 0%, #DF4A2F 100%);
}

/* Full Page Loader */
div#loader-container {
  background: #999;
  height: 100%;
  left: 0;
  opacity: 0.5;
  position: fixed;
  top: 0;
  width: 100%;
}

div#loader {
  animation: spin 2s linear infinite;
  border-radius: 50%;
  border-radius: 47%;
  border: 40px solid #e6e6e6;
  border-top: 40px solid #9b4dca;
  height: 200px;
  left: 45%;
  position: relative;
  top: 50%;
  width: 200px;
}

/* Single Loader */
div.loader {
  animation: spin 2s linear infinite;
  border-radius: 50%;
  border-top: 4px solid #9b4dca;
  border: 4px solid #e6e6e6;
  height: 60px;
  width: 60px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(1080deg);
  }
}

/* Social Login */
.fa-brands {
  font-style: normal;
  font-size: 1.7rem;
}
